@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200&family=Monoton&display=swap');

:root {
    --violet: #300350;
    --mardi: #94167F;
    --pink: #E93479;
    --yellow:  #F9AC53;
    --rose: #F62E97;
    --blue: #153CB4;
    --tgreen: #00FF00;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    color: white;
    font-family: 'Roboto Condensed', monospace;
}

h1 {
    font-family: 'Monoton', cursive;
    text-align: center;
    font-size: 100px;
    font-weight: 100;
    color: var(--yellow);
    margin: auto;
    width: 100%;
}

#title-image {
    width: 100%;
    height: 10vw;
}

.table{
    display: table;
    width: 90%;
    margin: auto;
}

.navbar {
    border-bottom: 1px solid gray;
}

.navbar ul {
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 20px;
}

.navbar li {
    display: inline;
}

.navbar li i {
    color: var(--tgreen);
}

.navbar li a {
    font-weight: bold;
    text-decoration: none;
    margin-left: 10px;
    color: white;
    font-size: 20px;
}

h2 {
    margin: auto;
    text-align: center;
    font-size: 50px;
    color: var(--mardi);
}

.cblock {
    font-size: 18px;
    padding-bottom: 50px;
    padding-top: 50px;
    border-bottom: 1px solid var(--yellow);
    width: 80%;
    align-self: center;
    margin: auto;
    display: flex;
}

.cblock p {
    display: inline;
    flex-shrink: 1;
    line-height: 20px;
}

.cblock p a {
    text-decoration: none;
    font-style: italic;
    color: var(--yellow);
}

.cblock p br {
    line-height: 22px;
    display: block;
    margin: 10px 0;
}

.cblock span {
    font-weight: bold;
    color: var(--pink);
    margin-right: 15px;
    flex-shrink: 0;
    font-size: 19px;
}

.cblock ul {
    list-style-type: none;
}

.cblock img {
    height: 300px;
}

.full-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: 25px
}

.w100 {
    width: 100%;
    text-align: center;
}

.go-back {
    font-size: 16px;
}
