{% extends 'base.html' %}

{% block content %}
<div class="cblock">
    <span>[2025-06-08 Sun]</span>
    <p>By making this website (hello, this is the first post) I realized i wanted a way to easily read and modify photo metadata from CL as to easily publish photos to <a href="{{ url_for('photos') }}">my "portfolio"</a> easily and make it easy to automatically upload them.

      <br>
    Since I really want to make this and the options I have found are not being actively maintained I will make my  own. There is also a point to remake this webpage in some language cooler than regular old python but for now it will stay this way, to my dismay (not really, I dont wanna mess with html serving, it's annoying).
</p>
</div>
{% endblock %}
