{% extends 'base.html' %}

{% block content %}
<div class="cblock">
  <span>CONTACT</span>
  <p>
    <b>Pablo Sánchez Redondo</b><br>
    <b style="color: var(--yellow)">Software Developer</b><br>
    <a href="https://github.com/v0sem"><i class="fa fa-github"></i> GitHub: v0sem</a><br>
    <a href="mailto:progpabsanch@gmail.com">progpabsanch@gmail.com</a>
  </p>
</div>
<div class="cblock">
  <span>SUMMARY</span>
  <p>Skilled developer with knowledge in multiple programming paradigms and willingness to adapt and learn. I have worked with small programming teams automating and developing tools to manage big amounts of data very quickly, focusing on scalabily and maintainability.
<br>
    Experienced in Python, Django, Docker, Elasticsearch and currently learning Common Lisp and Haskell. I welcome both design and programming challenges as well as structuring and organizing big multidisciplinary systems.
  </p>
</div>
<div class="cblock">
  <span>WORK EXPERIENCE</span>
  <div class="multip">
    <div>
      <i>DECEMBER 2022 - NOW</i><br>
      <b style="color: var(--yellow)">Software Developer at Deloitte</b><br>
      Developing tools and automatizations for the cybersecurity team. This includes the design, development, deployment and maintenance of multiple projects with different structures and design philosophies.
      <br>
    </div>
    <div>
      <i>MAY 2021 - JULY 2021</i><br>
      <b style="color: var(--yellow)">Intern at Fundación Juan March</b><br>
      Learning bootstrap, testing and inspecting the new website design for the company. Also in charge of troubleshooting some IT tasks.
    </div>
    <div>
      <i>OCTOBER 2019 - JUNE 2020</i><br>
      <b style="color: var(--yellow)">Intern at Ignis Energía</b><br>
      Implementing the backend of a website to manage client energy sales with django and postgres. It also included configuring and deploying the website in AWS.
    </div>
  </div>
</div>
<div class="cblock">
  <span>EDUCATION</span>
  <p>
    <i>2017 - 2024</i><br>
    <b>Degree on Computer Engineering</b><br>
    Universidad Autónoma de Madrid
  </p>
</div>
<div class="cblock">
  <span>SKILLS</span>
</div>
<div class="cblock">
  <span>LANGUAGES</span>
</div>
{% endblock %}
